body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select{
    color:grey;
    background-color: black;
    border: grey;
}
.right {
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
}

.Language {
    margin-right: 20px;
    padding-top: 1px;
}

.img {
    background: url('bg.jpg') center/cover no-repeat;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    text-align: center;
    color: #fff;
}

input[type="email"] {
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #e50914;
    color: #fff;
    border: none;
}
